[submodule "dep/elaboration-zoo"]
	path = dep/elaboration-zoo
	url = https://github.com/AndrasKovacs/elaboration-zoo/
[submodule "dep/grammars-v4"]
	path = dep/grammars-v4
	url = https://github.com/antlr/grammars-v4
[submodule "dep/lambdapi"]
	path = dep/lambdapi
	url = https://github.com/ilya-klyuchnikov/lambdapi/
[submodule "dep/pi-forall"]
	path = dep/pi-forall
	url = https://github.com/sweirich/pi-forall/
[submodule "dep/compilers-course"]
	path = dep/compilers-course
	url = https://github.com/h0tk3y/compilers-course
[submodule "dep/simplelanguage"]
	path = dep/simplelanguage
	url = https://github.com/graalvm/simplelanguage
[submodule "dep/normalization-by-evaluation"]
	path = dep/normalization-by-evaluation
	url = https://gist.github.com/ekmett/492f05ee9d9be5c964de67598577df1f
[submodule "dep/fsharp-tapl"]
	path = dep/fsharp-tapl
	url = https://github.com/jack-pappas/fsharp-tapl
[submodule "dep/smalltt"]
	path = dep/smalltt
	url = https://github.com/zarybnicky/smalltt
[submodule "dep/truffleruby"]
	path = dep/truffleruby
	url = https://github.com/oracle/truffleruby
[submodule "dep/setoidtt"]
	path = dep/setoidtt
	url = https://github.com/AndrasKovacs/setoidtt
[submodule "dep/trufflesqueak"]
	path = dep/trufflesqueak
	url = https://github.com/hpi-swa/trufflesqueak
[submodule "dep/graalphp"]
	path = dep/graalphp
	url = https://github.com/abertschi/graalphp
[submodule "dep/mumbler"]
	path = dep/mumbler
	url = https://github.com/cesquivias/mumbler
[submodule "dep/TruffleSOM"]
	path = dep/TruffleSOM
	url = https://github.com/smarr/TruffleSOM
[submodule "dep/graaljs"]
	path = dep/graaljs
	url = https://github.com/oracle/graaljs
[submodule "dep/yona"]
	path = dep/yona
	url = https://github.com/yona-lang/yona/
[submodule "dep/enso"]
	path = dep/enso
	url = https://github.com/enso-org/enso
[submodule "dep/prolog-truffle"]
	path = dep/prolog-truffle
	url = https://gitlab.forge.hefr.ch/tony.licata/prolog-truffle
[submodule "dep/fastr"]
	path = dep/fastr
	url = https://github.com/oracle/fastr
[submodule "dep/graalpython"]
	path = dep/graalpython
	url = https://github.com/graalvm/graalpython
