[submodule "dep/elaboration-zoo"]
	path = dep/elaboration-zoo
	url = https://github.com/AndrasKovacs/elaboration-zoo/
[submodule "dep/grammars-v4"]
	path = dep/grammars-v4
	url = https://github.com/antlr/grammars-v4
        ignore = dirty
[submodule "dep/lambdapi"]
	path = dep/lambdapi
	url = https://github.com/ilya-klyuchnikov/lambdapi/
        ignore = dirty
[submodule "dep/pi-forall"]
	path = dep/pi-forall
	url = https://github.com/sweirich/pi-forall/
        ignore = dirty
[submodule "dep/compilers-course"]
	path = dep/compilers-course
	url = https://github.com/h0tk3y/compilers-course
        ignore = dirty
[submodule "dep/simplelanguage"]
	path = dep/simplelanguage
	url = https://github.com/graalvm/simplelanguage
        ignore = dirty
[submodule "dep/normalization-by-evaluation"]
	path = dep/normalization-by-evaluation
	url = https://gist.github.com/ekmett/492f05ee9d9be5c964de67598577df1f
[submodule "dep/fsharp-tapl"]
	path = dep/fsharp-tapl
	url = https://github.com/jack-pappas/fsharp-tapl
        ignore = dirty
[submodule "dep/smalltt"]
	path = dep/smalltt
	url = https://github.com/zarybnicky/smalltt
[submodule "dep/truffleruby"]
	path = dep/truffleruby
	url = https://github.com/oracle/truffleruby
        ignore = dirty
[submodule "dep/setoidtt"]
	path = dep/setoidtt
	url = https://github.com/AndrasKovacs/setoidtt
[submodule "dep/trufflesqueak"]
	path = dep/trufflesqueak
	url = https://github.com/hpi-swa/trufflesqueak
        ignore = dirty
[submodule "dep/graalphp"]
	path = dep/graalphp
	url = https://github.com/abertschi/graalphp
        ignore = dirty
[submodule "dep/mumbler"]
	path = dep/mumbler
	url = https://github.com/cesquivias/mumbler
[submodule "dep/TruffleSOM"]
	path = dep/TruffleSOM
	url = https://github.com/smarr/TruffleSOM
        ignore = dirty
[submodule "dep/graaljs"]
	path = dep/graaljs
	url = https://github.com/oracle/graaljs
        ignore = dirty
[submodule "dep/yona"]
	path = dep/yona
	url = https://github.com/yona-lang/yona/
[submodule "dep/enso"]
	path = dep/enso
	url = https://github.com/enso-org/enso
        ignore = dirty
[submodule "dep/prolog-truffle"]
	path = dep/prolog-truffle
	url = https://gitlab.forge.hefr.ch/tony.licata/prolog-truffle
[submodule "dep/fastr"]
	path = dep/fastr
	url = https://github.com/oracle/fastr
        ignore = dirty
[submodule "dep/graalpython"]
	path = dep/graalpython
	url = https://github.com/graalvm/graalpython
        ignore = dirty
[submodule "dep/normalization-bench"]
	path = dep/normalization-bench
	url = https://github.com/AndrasKovacs/normalization-bench
[submodule "dep/peacod"]
	path = dep/peacod
	url = https://github.com/sstewartgallus/peacod
[submodule "dep/cadenza"]
	path = dep/cadenza
	url = https://github.com/ekmett/cadenza
[submodule "dep/dynsem"]
	path = dep/dynsem
	url = https://github.com/metaborg/dynsem/
[submodule "dep/GoLang-Compiler"]
	path = dep/GoLang-Compiler
	url = https://github.com/PDZaninov/GoLang-Compiler/
[submodule "dep/enso-benchmarks"]
	path = dep/enso-benchmarks
	url = https://github.com/enso-org/benchmarks
[submodule "dep/Minimal-PiSigma"]
	path = dep/Minimal-PiSigma
	url = https://github.com/derrickturk/MinPS
[submodule "dep/peacod2"]
	path = dep/peacod2
	url = https://github.com/sstewartgallus/jsystemf
[submodule "dep/hs-callbypushvalue"]
	path = dep/hs-callbypushvalue
	url = https://github.com/sstewartgallus/hs-callbypushvalue
[submodule "dep/trufflestg"]
	path = dep/trufflestg
	url = https://github.com/acertain/trufflestg/
[submodule "dep/qir"]
	path = dep/qir
	url = https://gitlri.lri.fr/jlopez/qir.git
[submodule "dep/shen-truffle"]
	path = dep/shen-truffle
	url = https://github.com/ragnard/shen-truffle/
